// About section at "/"

.about-section {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 24px 12px;
  flex-wrap: wrap;
}

.about-item {
  padding: 0 12px;
  margin-top: 8px;
  p {
    font-size: 20px;
    color: rgba(18, 18, 66, 0.849);
    font-weight: 300;
  }
  img {
    max-width: 250px;
    margin-top: 12px;
    border-radius: 100%;
  }
}

.slogan {
  text-align: center;
  font-size: 24px;
  // margin: 8px auto;
  padding-bottom: 20px;
  color: rgba(18, 18, 66, 0.849);
}
