// Primary CSS file
// All other CSS files imported here
@import './navbar.scss';
@import './buttons.scss';
@import './banner.scss';
@import './about.scss';
@import './contact.scss';
@import './create.scss';
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

body {
  font-family: 'Exo 2', sans-serif;
  background-color: rgb(241, 241, 241);
}

#root {
  height: 100vh;
}

// Sets content box properties
.box {
  margin: 0 auto;
  max-width: 80%;
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}
