#call-to-action-btn {
  // background: rgba(18, 18, 66, 0.849);
  background: rgba(255, 255, 255, 0.649);
  border-radius: 75px;
  border: 1px solid rgba(18, 18, 66, 0.849);
  padding: 8px 32px;
  font-size: 20px;
  color: rgba(18, 18, 66, 0.949);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.253);
  transition-duration: 500ms;
}

#call-to-action-btn:hover {
  background: rgba(18, 18, 66, 0.949);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.553);
  color: white;
}

#upload-btn {
  background: rgba(18, 18, 66, 0.849);
  border-radius: 75px;
  padding: 8px 32px;
  font-size: 20px;
  color: whitesmoke;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.253);
}

#upload-btn:hover {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.553);
  color: white;
  transition-duration: 300ms;
}

// Removing default stlying
button {
  text-decoration: none;
  background-color: transparent;
  border: 0px;
  padding: 0px 12px;
  color: rgba(80, 80, 110, 0.644);
}
button:hover {
  color: rgba(18, 18, 66, 0.849);
  transition-duration: 500ms;
}
