.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  .logo {
    width: 85px;
  }
  .right-nav {
    display: flex;
    padding-left: 100px;
  }
  .left-nav {
    display: flex;
    padding-right: 100px;
  }
  button {
    font-size: 16px;
  }
}
