.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  .logo {
    width: 75px;
    box-shadow: rgba(18, 18, 66, 0.249);
    margin: 12px auto;
  }
  .right-nav {
    display: flex;
  }
  .left-nav {
    display: flex;
    align-items: center;
  }
  button {
    font-size: 16px;
  }
  .active {
    color: rgba(18, 18, 66, 0.849);
    border-bottom: 2px dotted rgba(18, 18, 66, 0.249);
  }
}
